* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body, html {
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
  overflow: hidden;
}
h1, h2, h3, h4, p {
  font-size: 1.6rem;
}
.txt--title {
  font-weight: 900;
  font-size: 3.2rem;
  letter-spacing: -0.1rem;
}
.txt--thin {
  font-weight: 100;
}
.layout {
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  transition: all 500ms ease;
  // just a rotate screen animation:
  &.layout--rotated {
    transform:  rotateY(-90deg) translateX(-50%) rotateY(90deg) translateX(50%) rotateY(90deg);
  }
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box {
  display: block;
  float: left;
  // outline: 1px dashed #d0d0d0; //testing purposes
  transition: all 250ms ease;
  transform-style: preserve-3d;
  // Blocks
  .box__content {
    position: absolute;
    margin: auto; top: 0; right: 0; bottom: 0; left: 0;
    text-align: center;
    display: table;
    width: 100%;

    z-index: 5001;
    color: #FFF;
    text-transform: lowercase;
    .box__content-row {
      h2 {
        @extend .txt--thin;
        font-size: 1.4rem;
      }
    }
  }
  .box__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      opacity: 0.75;
    }
  }
  .box__logo {
    position: absolute;
    bottom: 1.4rem;
    left: 2%;
    height: auto;
    width: 100px;
    z-index: 6000;
  }
  .box__contact {
    position: absolute;
    bottom: 1.6rem;
    right: 2%;
    color: #FFF;
    z-index: 6000;
    [data-job-contact-name], [data-job-contact-department] {
      text-align: right;
    }
    [data-job-contact-name] {
      font-weight: 700;
    }
    [data-job-contact-department] {
      font-weight: 100;
      font-style: oblique;
    }
    .box__contact__icon {
      $height: 22px;
      border: 2px solid #fff;
      border-radius: 50%;
      width: $height;
      height: $height;
      padding: $height / 2.5;

    }
    img {
      width: 100%;
      height: auto;
    }
  }
  // Content
  [data-job-name] {
    @extend .txt--title
  }
  .job-countdown__wrapper {
    $size: 5rem;
    position: relative;
    width:  $size;
    height: $size;
    background-color: #FFF;
    border-radius: 50%;
    display: table;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    [data-job-countdown] {
      font-size: 3.2rem;
      font-weight: 700;

      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: table;
      width: 100%;

      line-height: 4rem;
      color: rgba(230, 15, 115, 1);
    }
  }
  // Modifiers
  &.box--big {
    width: 50%;
    height: 50%;
    [data-job-name] {
      font-size: 6rem;
    }
    .box__content-row {
      transform: scale(1.5);
    }

    [data-job-contact-name], [data-job-contact-department] {
      font-size: 1.4rem;
      margin-right: 1.4rem;
    }
    [data-job-contact-department] {
      font-size: 1.2rem;
    }

    .box__logo {
      bottom: 1.5%;
      left: 2%;
    }
    .box__contact {
      bottom: 2.5%;
      right: 2%;
    }
  }
  &.box--med {
    width: 25%;
    height: 25%;
    [data-job-name] {
    }

    [data-job-contact-name], [data-job-contact-department] {
      font-size: 1rem;
      margin-right: 1rem;
    }
    
    .box__logo {
      bottom: 1.5%;
      left: 2%;
    }
    .box__contact {
      bottom: 3.5%;
      right: 2%;
      .box__contact__icon {
        $size: 16px;
        width: $size;
        height: $size;
      }
    }
  }
  // Psuedo
  &:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
  }
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 15, 115, 0.75);
    z-index: 5000;
  }
}
.face {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  // background: rgba(115,15,255,.85);

  transform-style: preserve-3d;
  &:nth-child(1) {
    background-image: -webkit-linear-gradient(bottom left, #F53C94 25%, #8732FF 75%);
    transform: rotateY(-90deg) translateX(-50%) rotateY(0deg) translateX(50%) rotateY(90deg);
  }
  &:nth-child(2) {
    background-image: -webkit-linear-gradient(top right, #F53C94 25%, #8732FF 75%);
    transform: rotateY(-90deg) translateX(-50%) rotateY(-90deg) translateX(50%) rotateY(90deg);
  }
}
