/*
  Main File
*/

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body, html {
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
  overflow: hidden;
}
main {
  padding: 10%;
}

/*
  Typography
*/

.txt--title {
  font-weight: 900;
  font-size: 3.2rem;
  letter-spacing: -0.1rem;
}
.txt--thin {
  font-weight: 100;
}
